---
import BuiltWithAstro from '../assets/built-with-astro.svg';

const canonical = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={new URL('favicon.svg', canonical)} />
		<meta name="generator" content={Astro.generator} />
		<title>npm provenance overview</title>
		<link rel="canonical" href={canonical} />
		<meta
			name="description"
			content="Quickly see publishing security for a maintainer’s npm packages."
		/>
		<meta property="og:type" content="website" />
		<meta name="og:image" content={new URL('og.jpg', canonical)} />
		<meta name="twitter:card" content="summary_large_image" />
	</head>
	<body>
		<slot />
		<footer>
			<a href="https://astro.build">
				<span class="sr-only">Built with Astro</span>
				<BuiltWithAstro aria-hidden="true" />
			</a>
			<a href="https://github.com/delucis/npm-provenance-overview">Source code on GitHub</a>
		</footer>
	</body>
</html>

<style is:global>
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border-width: 0;
	}
</style>

<style>
	html,
	body {
		margin: 0;
		height: 100%;
		color-scheme: light dark;
	}
	body {
		border-top: 0.625em solid;
		--npm-border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
		border-image: var(--npm-border-image);
		display: flex;
		flex-direction: column;
		font-family:
			system-ui,
			-apple-system,
			BlinkMacSystemFont,
			'Segoe UI',
			Roboto,
			Oxygen,
			Ubuntu,
			Cantarell,
			'Open Sans',
			'Helvetica Neue',
			sans-serif;
	}
	footer {
		margin-top: auto;
		padding: 4em 1em 1em;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 1em;
		font-size: 0.875em;
		line-height: 0;
	}
</style>
